.data-table {
  width: 95%;
  margin: 2%;
}
.req-header {
  padding: 1%;
  margin-left: 1%;
}
.status-dropdown {
  width: 95%;
  padding-left: 1%;
  padding-right: 1%;
  margin: 2%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
  border-radius: 6px;
}
.tb-header tb-header {
  padding: 1%;
}
tr.tb-row.Denied {
  background: #eac8c8;
}
tr.tb-row.Approved {
  background: #c2efc8;
}
.status-header {
  font-size: 15px;
  font-weight: 500;
  margin-top: -6px;
  margin-left: 6px;
  margin-bottom: 2px;
}
.btn-group-default,
.dropdown-menu {
  width: 100%;
}
#status-drpdwn {
  text-align: left;
}
span.caret {
  float: right;
  margin-top: .8%;
}
.sort-btn {
  border: transparent;
  background: transparent;
}
.sort-icn {
  width: 10px;
}
button:focus {
  outline: 0;
}
.app-header {
  margin: auto 35%;
  margin-top: 5%;
  z-index: 1;
  color: gainsboro;
}
.nav li a.active {
  color: white;
}
.add-todo-ctrl {
  width: 80%;
}
.add-todo-ctrl div {
  padding: 2px;
  width: 40%;
  display: inline-block;
}
footer {
  margin: auto 40%;
  text-align: center;
}
.delete-icn {
  width: 15px;
}
