.data-table {
  width: 95%;
  margin: 2%;
}
.req-header {
  padding: 1%;
  margin-left: 1%;
}
.status-dropdown {
  width: 95%;
  padding-left: 1%;
  padding-right: 1%;
  margin: 2%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
  border-radius: 6px;
}
.tb-header tb-header {
  padding: 1%;
}
tr.tb-row.Denied {
  background: #eac8c8;
}
tr.tb-row.Approved {
  background: #c2efc8;
}
.status-header {
  font-size: 15px;
  font-weight: 500;
  margin-top: -6px;
  margin-left: 6px;
  margin-bottom: 2px;
}
.btn-group-default,
.dropdown-menu {
  width: 100%;
}
#status-drpdwn {
  text-align: left;
}
span.caret {
  float: right;
  margin-top: .8%;
}
.sort-btn {
  border: transparent;
  background: transparent;
}
.sort-icn {
  width: 10px;
}
button:focus {
  outline: 0;
}
.app-header {
  margin: auto 35%;
  margin-top: 5%;
  z-index: 1;
  color: gainsboro;
}
.nav li a.active {
  color: white;
}
.add-todo-ctrl {
  width: 80%;
}
.add-todo-ctrl div {
  padding: 2px;
  width: 40%;
  display: inline-block;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.delete-icn {
  width: 15px;
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
.todo-item span {
  display: inline-block;
  width: 50%;
}
.update-todo-form div {
  padding: 2px;
  display: inline-block;
}
#todo-updt-input {
  width: 70%;
}
#todo-updt-btn {
  width: 30%;
}
.todo-item-display {
  background-color: transparent;
}
.hide-el {
  display: none !important;
}
.todo-updt-btn button {
  font-size: 20px;
  width: 35%;
  outline: 0;
}
.status-btn:focus {
  outline: 0;
  text-decoration: none;
}
